.fisrt{
   font-size: 30px;
}
.last{
    font-size:35px;
}
.even{
    color:red;
    background: grey;
}
.odd{
    color:green;
    background: lightgrey;
}

.hello{
    color:red;
}
.class2{
    color:yellow;
}
.invisible{
    display: none;
}